*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}


@font-face {
  font-family:'Montserrat';
  font-style:normal;
  src: url("./fonts/Montserrat-VariableFont_wght.ttf");
}

body{
  font-family: "Montserrat";
  font-weight: 600;
}
$light-text:#fff;

$main-color:#141414;

$black-color:#000;

$text-color:#ABABAB;

@mixin fontSizeAndLineHeight($font:16px,$height:2.1, $color:#{$text-color},$font-weight:600){
  font-size: $font;
  line-height: $height;
  font-weight: $font-weight;
  color:$color;
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}
.title{
  @include fontSizeAndLineHeight(30px,1.5,$main-color,700);
}
.link{
  @include fontSizeAndLineHeight(18px,2.5)
}
%link{
  text-decoration: none;
}
%everySectionLink{
  @include fontSizeAndLineHeight(18px,2.5,#14141494);
  margin-right: 15px;
}
%everySectionWrap{
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.container{
  max-width: 1590px;
  margin: 0 auto;

  @media screen and (min-width:320px) and (max-width: 600px) {

      width: 320px;
      margin: 0 auto;
    padding: 0 15px;
    //background-color: red;
    }
  }


.btn{
  width: 335px;
  height: 50px;
  background: rgb(232, 170, 49);
  border-radius: 3px;
  padding: 2px 0;
  text-align: center;
  box-shadow: 0px 4px 20px 0px rgba(232, 170, 49, 0.43);
  @include fontSizeAndLineHeight(18px,2.5,$light-text)
}
.header{

}
.header__container{
  @media screen and (min-width:320px) and (max-width: 600px) {
    padding: 0 0;
  }
}
.header-menu{
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
}
.header-top{
  background-color: $main-color;
  padding: 25px 0;
}
.header-top__container{
  display: flex;
  align-items:center;
  //padding: 25px 0;

  @media screen and (min-width:320px) and (max-width: 600px) {

    width: 320px;
    margin: 0 0;
  }
}
.nav__list {
  display: flex;
  gap:60px;

  @media screen and (min-width:320px) and (max-width: 600px) {
    display: none;
  }
}
.nav__item {
  @include fontSizeAndLineHeight(16px, 1.2, $light-text,500)
}
.header-top__icon{
  fill:$light-text;
  margin-left: auto;

  @media screen and (min-width:320px) and (max-width: 600px) {
    display: none;
  }
}

.header-top__link{
  @include fontSizeAndLineHeight(18px,1.2,$light-text);
  margin-left: 15px;

  @media screen and (min-width:320px) and (max-width: 600px) {
    display: none;
  }
}
.header-bottom{
  background-color: #ECF1F2;
  padding: 22px 0;

  @media screen and (min-width:320px) and (max-width: 600px) {
    padding: 14px 0 15px 0;

  }

}
.header-bottom__container{
  display: flex;
  align-items: center;

  @media screen and (min-width:320px) and (max-width: 600px) {
    display: block;
    padding: 0 0;
  }
}
.header-bottom__logo{
  margin-right: 158px;
  margin-left: 32px;
}
.header-bottom__label{
  @include fontSizeAndLineHeight(14px,1.2,#00000080,500);
  position: relative;

  @media screen and (min-width:320px) and (max-width: 600px) {
    display: none;
  }
}
.header-bottom__icon--grey{
  fill:#00000080;
  position:absolute;
  left: 20px;
  top: 15px;


}
.header-bottom__input{
  width: 377px;
  height: 41px;
  border-radius: 3px;
  border: 1px solid rgba(4, 4, 4, 0.5);
  background: rgba(7, 7, 7, 0.03);
  @include fontSizeAndLineHeight(14px,1.2,#00000080,500);
  padding: 12px 10px 12px 42px;
  margin-right: 238px;

  @media screen and (min-width:320px) and (max-width: 600px) {
    display: none;
  }
}

.header-bottom__text{
@include fontSizeAndLineHeight(18px,1.2,$black-color);
  margin: 0 55px 0 10px;

  @media screen and (min-width:320px) and (max-width: 600px) {
    display: none;
  }
}
.header-bottom__icon{
  @media screen and (min-width:320px) and (max-width: 600px) {
    display: none;
  }
}
.callback{
  display: flex;
  gap: 3px;
  flex-direction: column;
  position: relative;
  margin-right: 54px;

  @media screen and (min-width:320px) and (max-width: 600px) {
    display: none;
  }
}
.callback__number{
  @include fontSizeAndLineHeight(18px,1.2,$black-color);
  margin-right: 17px;

  @media screen and (min-width:320px) and (max-width: 600px) {
    display: none;
  }
}
.callback__link{
  @include fontSizeAndLineHeight(18px,1.2,#E8AA31,700);

  @media screen and (min-width:320px) and (max-width: 600px) {
    display: none;
  }
}
.callback__icon{
  fill:#E8AA31;
  position: absolute;
  right: -10px;
  top: 3px;
  transform: rotate(90deg);

  @media screen and (min-width:320px) and (max-width: 600px) {
    display: none;
  }
}


.header-bottom__order{
  display: flex;
  align-items: center;

  @media screen and (min-width:320px) and (max-width: 600px) {
    display: none;
  }
}
.order__icon:first-child{
  margin-right: 30px;
}

.order__wrap{
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  gap: 5px;
  margin-left: 15px;
}
.order__text{
@include fontSizeAndLineHeight(16px,1.2,$black-color,500);

  @media screen and (min-width:320px) and (max-width: 600px) {
    display: none;
  }


}
.order__link{
  @include fontSizeAndLineHeight(16px,1.2,#E8AA31,500);

  @media screen and (min-width:320px) and (max-width: 600px) {
    display: none;
  }
}

/*main*/

/*catalog*/

.catalog{
  background-color:$main-color;

  @media screen and (min-width: 320px) and (max-width: 600px){
    display: none ;
  }
}
.catalog__list{
  display: flex;
  align-items: center;
  gap: 115px;
  padding: 24px 0;
}

.catalog__item{
  @include fontSizeAndLineHeight(18px,1.2,$light-text,500)
}
.catalog__item--yellow{
  color:#E8AA31;
}



/* hero */

.hero{
  padding: 44px 0 60px ;
  background-color: #141414;
  background-image: url("./images/hero-1x.png");
  background-size:cover ;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi),
  (min-resolution: 2dppx){
    background-image: url("./images/hero-2x.png");
  }

  @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi),
  (min-resolution: 3dppx){
    background-image: url("./images/hero-3x.png");
  }

  @media screen and (min-width: 320px) and (max-width: 600px){
    padding: 29px 0 49px 0;
  }
}

.hero__title{
  @include fontSizeAndLineHeight(36px,1.2,$light-text,500);
  width: 50%;

  @media screen and (min-width: 320px) and (max-width: 600px){
    @include fontSizeAndLineHeight(26px,1.6,$light-text,700);
    width: 100%;
    margin-bottom: 7px;
  }
}

.hero__subtitle{
  @include fontSizeAndLineHeight(20px,1.5,#FFFFFFB3,500);
  margin-top: 30px;
  width: 58%;

  @media screen and (min-width: 320px) and (max-width: 600px){
    width: 100%;
    @include fontSizeAndLineHeight(16px,1.5,#FFFFFFB3,500);
    margin-bottom: 16px;
  }
}

.hero__button{
  width: 228px;
  font-size: 20px;
  line-height: 2.3;
  margin-top: 60px;

  @media screen and (min-width: 320px) and (max-width: 600px){
    display: none ;
  }
}
.hero__img{
display: none;
  @media screen and (min-width: 320px) and (max-width: 600px) {
display: block;
    margin: 0 auto;
  }
}
.advantages-list{
  display: flex;
  align-items: center;
  gap: 140px;
  margin-top: 198px;
  
  @media screen and (min-width: 320px) and (max-width: 600px) {
    margin-top: 46px;
    flex-direction: column;
    gap: 30px;
  }
}
.advantages-list__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  flex-basis: calc((100% - 140px * 3) / 4);
}
.advantages-list__icon{
  fill:$light-text
}
.advantages-list__text{
  @include fontSizeAndLineHeight(20px,1.6,$light-text)
}



/* our-products */
.our-products{
  margin-top: 100px;

  @media screen and (min-width: 320px) and (max-width: 600px) {
    margin-top: 60px;
  }
}

.list-products{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 29px;

  @media screen and (min-width: 320px) and (max-width: 600px) {
    flex-direction: column;
  }
}
.list-products__item{
  position: relative;
  //width: 511px;
  flex-basis: calc(100% / 3 - 29px *2);
  height: 293px;
  display: flex;
  padding: 30px  0 62px 30px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  z-index: 2;
}
.list-products__image{

  @media screen and (min-width: 320px) and (max-width: 600px) {
    filter: opacity(0.5);
  }
}

.list-categories,
.list-categories__item{
  list-style: inside;

}
.list-products__title{
  @include fontSizeAndLineHeight(24px,1.4,$black-color);
  margin-bottom: 45px;
  position: relative;
  z-index: 2;

  @media screen and (min-width: 320px) and (max-width: 600px) {
    margin-bottom: 40px;
  }
}
.list-products__title::after{
  content:"";
  display: block;
  width: 68px;
  height: 2px;
  background-color: #E8AA31;
  margin-top: 14px;
  
  @media screen and (min-width: 320px) and (max-width: 600px) {
    margin: 9px 0 0;
  }
}

.list-categories__item{
  @include fontSizeAndLineHeight(18px,1.9,$black-color,500);
  position:relative;
  z-index: 2;
}
.list-categories__item::marker{
  color:#E8AA31;
}
.list-products__image{
  position: absolute;
  right: -70px;
  top: 31px;
  z-index: 1;
}

.list-products__image--large{
  height: 300px;
}

/*bestseller*/

.bestseller{
  margin-top: 121px;
  
  @media screen and (min-width: 320px) and (max-width: 600px) {
    margin-top: 60px;
  }
}
.wrap-bestseller{
  @extend %everySectionWrap;

  @media screen and (min-width: 320px) and (max-width: 600px) {
    justify-content: center;
  }
}
.bestseller__title{
  margin-right: auto;

  @media screen and (min-width: 320px) and (max-width: 600px) {
    text-align: center;
    margin-right: 0;
  }
}
.bestseller__link{
  //margin-right: 15px;
  //@include fontSizeAndLineHeight(18px,2.5,#14141494);
  @extend %everySectionLink;

  @media screen and (min-width: 320px) and (max-width: 600px) {
    display: none;
  }
}

.bestseller__icon{
  fill:#E8AA31;

  @media screen and (min-width: 320px) and (max-width: 600px) {
    display: none;
  }
}

.products{
display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.products__item{
  position: relative;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  background: rgb(254, 254, 254);
  flex-basis: calc(100% / 4 - 3 * 90px);
  padding: 22px 20px 29px;
}
.products__image{
  max-width: 270px;
  height: 240px;
  margin: 0 auto;
}
.products__title{
  @include fontSizeAndLineHeight(20px,1.7,$main-color)
}
.bestseller__products__title{
  margin-top: 19px;
}
.products__wrap-size{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products__size{
  @include fontSizeAndLineHeight();
}
.products__description{
  @include fontSizeAndLineHeight();
}
.rating{
display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 11px;
  margin-bottom: 46px;
}
.rating__item{

}
.rating__icon{
  fill:#E8AA31;
}
.products__feedback{
  @include fontSizeAndLineHeight();
}
.products__wrap-price{
  display: flex;
  align-items: center;
  position: relative;
}
.products__wrap-price:before{
  position: absolute;
  content: "";
  width: 335px;
  height: 1px;
  color:#14141480;
  background-color: #14141480;
  top: -20px;
  left: 0;
}
.products__prise{
  @include fontSizeAndLineHeight(20px,1.5,$main-color);
  margin-right: auto;
}

.products__icon--yellow{
  fill:#E8AA31;
  margin-left: 15px;
}

.products__btn{
  margin-top: 26px;
  position: relative;
}
.products__icon--inside{
  position: absolute;
  bottom: 43px;
  right: 110px;
}
/*innovations*/
.innovations{
  margin-top: 201px;
  margin-bottom: 120px;
  padding: 18px 0 106px 0;
  background-image:url("./images/bg-1x.png");
  background-size:cover;

  @media (min-device-pixel-ratio:2),(min-resolution: 192dpi),
  (min-resolution: 2dppx){
    background-image: url("./images/bg-2x.png");
  }

  @media (min-device-pixel-ratio:2),(min-resolution:288dpi),
  (min-resolution: 3dppx){
    background-image: url("./images/bg-3x.png");
  }
}
.innovations__container{
  display: flex;
  justify-content: space-between;
}
.innovations__wrap{
  width: 336px;
}
.innovations__title{
  color: $light-text;
  margin-bottom: 30px;
}
.innovations__subtitle{
  @include fontSizeAndLineHeight(18px,1.5,#FFFFFFB3,700);
  margin-bottom:60px;
}
.innovations__link{
  @include fontSizeAndLineHeight(20px,2.3,#E8AA31);
  margin-right:20px;
}
.innovations__icon{
  fill:#E8AA31;
}

.innovations__products{
  margin-top: 55px;
}


/* shares */

.shares{
  margin-top: 120px;
  margin-bottom: 190px;
  &--near{
    margin-bottom: 120px;
  }
}

.wrap-shares{
  @extend %everySectionWrap;
  //display: flex;
  //align-items: center;
  //margin-bottom: 60px;
}
.shares__title{
  margin-right: auto;
}
.shares__link{
  @extend %everySectionLink;
}
.shares__icon{
  fill:#E8AA31;
}

/* our-articles */
.our-articles{
  margin-bottom: 120px;
}
.our-articles__title {
  margin-bottom: 30px;
}
.our-articles__articles-list{
  display: flex;
  align-items: center;
  gap: 30px;
}

.our-articles__item{
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  background: rgb(254, 254, 254);
  flex-basis: calc(100% / 4 - 30px * 3);
 align-items: center;
  height: 350px;

  &:nth-child(-n+2) .our-articles__text{
    margin-bottom: 8px;
  }
}
.our-articles__wrap{
  padding: 0 32px 20px 26px;

}
.our-articles__text{
  @include fontSizeAndLineHeight(20px,1.7,$black-color);
  margin-bottom:42px;

}

.our-articles__date{
  @include fontSizeAndLineHeight();
}
.our-articles__image{
  margin-bottom: 20px;
  max-width: 376px;
  height: 200px;
}

/*discount*/
.discount{
  margin-bottom: 120px;
}
.discount-list{
  display: flex;
gap: 47px;
}
.discount-list__item{
  display: flex;
  padding: 30px 0 30px 30px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  flex-basis: calc(100% / 2 - 47px * 0);
  //width: 770px;
  height: 293px;
  overflow: hidden;
}

.discount-list__wrap{
}
.discount-list__title{
  @include fontSizeAndLineHeight(24px, 1.4,$black-color);

  &::after{
    display: block;
    content: "";
    width: 68px;
    height: 2px;
    background-color: #E8AA31;
    margin-top: 14px;
    margin-bottom: 35px;
  }
}
.discount-list__text{
  @include fontSizeAndLineHeight(18px,1.5,$black-color,500);
  margin-bottom: 46px;
}
.discount-list__button{
  width: 316px;
}
.discount-list__image {
    max-width: 388px;
    height: 388px;
    transform: translate(34px, 10px);
    transform: scale(1.2) translate(35px, -19px);
}
.products__btn--small{
  width: 316px;
}

/*lights*/

.lights{

}

.lights__title{
  @include fontSizeAndLineHeight(30px,1.5,$main-color,700);
  margin-right: auto;
}
.wrap-lights{
  @extend %everySectionWrap;
}
.lights__link{
  @extend %everySectionLink;
}
.lights__icon{
  fill: #E8AA31;
}

/*description*/
.description{
  margin-top: 120px;
  padding: 60px 0;
  background-image: url("./images/des-1x.png");
  background-size: cover;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url("./images/des-2x.png");
  }
  @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
      background-image: url("./images/des-3x.png");

  }
}

.description__title{
  @include fontSizeAndLineHeight(30px,1.5,#E8AA31,700);
  margin-bottom: 30px;
 text-align: center;
}

.description__text{
  @include fontSizeAndLineHeight(18px,1.5,#fff,500);
  padding-right: 33px;
}

/*footer*/
.footer{
  background-color: $main-color;
  padding-top: 102px;
  padding-bottom: 49px;
}
/* footer part1 */
.footer-nav__list-nav{
  display: flex;
  gap: 144px;
  position: relative;

  &::after{
    display: block;
    content: "";
    width: 1575px;
    height: 1px;
    background-color: #FFFFFF80;
    position: absolute;
    left: 1px;
    bottom: -30px;
  }
}
.list-nav__item{
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 144px * 4) / 4);

  & a:not(:last-child){
    margin-bottom: 20px;
  }

  &:not(:first-child)p{
    margin-bottom: 30px;
  }
  &:first-child p{
    margin-bottom: 23px;
  }
}
.list-nav__title{
  @include fontSizeAndLineHeight(18px,1.2,#fff);
}
.list-nav__link{
  @include fontSizeAndLineHeight(18px,1.5,#FFFFFFCC,500);
}



/* footer part2 */

.footer-contact{
  margin-top: 65px;
}
.footer-contact__list{
  display: flex;
}
.footer-contact__item{
max-width: 375px;
  &:last-child{
    position: relative;
  }
}
.footer-contact__item--first{
  width: 194px;
  flex-shrink: 0;
  margin-right: 173px;
}
.footer-contact__item--second{
  width: 269px;
  flex-shrink: 0;
  margin-right: 121px;
}
.footer-contact__item--third{
  width: 318px;
  flex-shrink: 0;
  margin-right: 121px;
}
.footer-contact__item--fourth {
  width: 379px;
  flex-shrink: 0;
}

.footer-contact__title{
  @include fontSizeAndLineHeight(18px,1.2,#fff);

.footer-contact__item:not(:last-child) &{
  margin-bottom:30px;
}
  .footer-contact__item:last-child &{
    margin-bottom:15px;
  }
}
.footer-contact__text{
  @include fontSizeAndLineHeight(18px,1.5,#FFFFFFCC,500);
}
.footer-contact__text-another{
  color:#E8AA31;
}

.address__link{
  @include fontSizeAndLineHeight(18px,1.5,#FFFFFFCC,500);
}
.footer-contact__input{
  width: 375px;
  height: 50px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.05);
  padding: 15px 50px 15px 20px;
}
.footer-contact__button{
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0px;
  bottom: 146px;
}
.footer-contact__input{
  @include fontSizeAndLineHeight(16px,1.2,#FFFFFF85,500);
  margin-bottom: 22px;
}
.footer-contact__checkbox{
  display: inline;
  border-radius: 2px;
  margin-right: 20px;
}
.footer-contact__content{
  @include fontSizeAndLineHeight(16px,1.4,#FFFFFFCC,500);
  display: inline;
}
.footer-contact__text{
  .footer-contact__item:last-child &{
    margin-bottom:26px;
  }
}
.address{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.address__icon{
  fill: $light-text;
  margin-right: 16px;
}

.social-list{
  margin-top: 30px;
  display: flex;
  gap: 22px;
}
.test{
  display: block;
}
.address__item{
  display: flex;
  align-items: baseline;
}


/* copyrighting */
.copyrighting{
  margin-top: 61px;
}
.copyrighting__container{
  display: flex;
  justify-content: space-between;
  position: relative;

  &::before{
    display: block;
    content: "";
    width: 1575px;
    height: 1px;
    background-color: #FFFFFF80;
    position: absolute;
    left: 0;
    top: -30px;

  }
}
.copyrighting__title{
  @include fontSizeAndLineHeight(14px,1.9,#FFFFFFCC,500);
  width: 817px;
}

.copyrighting__text{
  @include fontSizeAndLineHeight(14px,1.9,#FFFFFFCC,500);
}